
<meta name="viewport"content="width=device-width,initial-scale=1.0">
<div class="div1"><h1>
    Welcome to the Patient Data Management System Page!
</h1>

<div class="div">
    <p>Click Login to login to our system</p>
    
    <button mat-raised-button color="primary" routerLink="/login">
        Log In
    </button>
    <br>
    <br>
    <h1>Or</h1>
    <p>Click Sign Up to sign-up to our system</p>
    
    <button mat-raised-button color="accent" routerLink="/signup">
        Sign Up    </button>
</div>
</div>