.sign-up-link {
    font-size: 1.2rem;
    margin-left: 8px;
}
#cas{
    background-color: rgb(211, 210, 189);
    text-align: center;
}
#new{
    margin-left: -15px;
    justify-content: space-between;
}
