.btn-danger{
    margin-left: 50px;
}
input{
   
}
#del{
    margin-top: 20px;
}
h1{
    text-align: center;
    font-weight: bold;
}
label {
    font-family: sans-serif;
    font-size: 1rem;
    padding-right: 10px;
}

select {
    font-size: 0.9rem;
    padding: 2px 5px;
    margin-left: 30px;
    margin-top: 20px;
    color:#100404;
    background-color: rgb(200, 200, 209);
    width:300px;
    
}
