

<div class="container-fluid">
    <div class="row mt-5">
          <div class="col">
                <div class="col-4">
                      <div class="card shadow">
                            <div class="card-body">
                                  <form>
                                        <div class="mb-3">
                                          <h2>Hello user..</h2>
                                        </div>
  
                                        <div class="mb-3">
                                          <p class="text">Raise A Request For Password Reset</p>
                                          <p class="text">They will Send The Password Reset Link</p>
                                        </div>
                                          <button type="button" [routerLink]="['/login']" mat-raised-button color="primary" >Login</button>
  
  
                                  </form>
                            </div>
                      </div>
                </div>
          </div>
    </div>
  </div>
  